@import "ember-bootstrap/bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.entity-card {
  width: 30%;
  height: 300px;

  .card-block {
    overflow-y: hidden;
  }
}

.copy-btn.btn-link {
  color: inherit
}


